body{
    background-color: rgba(0, 0, 0, 0.1) !important;
    min-height: 100vh !important;
}

.card-container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer{
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top:6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-answer-card:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-success, .bg-danger{
    color: white !important;
}

.width-100{
    width:100%;
}

.text-center{
    text-align: center;
}

.fontende{
    font-size: 32px;
}
.card-title{
    height: 50px;
}

.button-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;
}