body{
    background-color: rgba(191, 192, 196, 0.236) !important;
  
}

.card-container{
    min-height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-footer{
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top:6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}